<div class="row">
    <div class="col offset-md-4 mt-2">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['añadir']" >Añadir</button>
            <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['editar']" >Editar</button>
            <button type="button" class="btn btn-info" routerLinkActive="active" [routerLink]="['ver']" >Ver información</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>
